#booksContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.delete-button,
.toggle-read-button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 5px;
}

.delete-button:hover,
.toggle-read-button:hover {
    background-color: #0056b3;
}

.book-card {
    border: 1px solid #ccc;
    padding: 15px;
    width: 200px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}